{% extends "base_vendeur.html.twig" %}

{% block title %}Boots Art | Présentation{% endblock %}

{% block body %}

    <div class="rounded bg-light col-lg-7 col-md-9 col-12 mx-auto p-3 my-5">
        
        <h2 class="text-center mt-3">Bienvenue dans l'espace Vendeur</h2>
        <h5 class="text-center fst-italic">Ici vous pourrez voir vos articles, les supprimés, en ajoutés et les modifiés</h5>
        <h5 class="text-center fst-italic">Mais vous pourrez aussi suivre vos ventes</h5>

        <h4 class="text-center mt-3">Boots Art propose différent format tels que : </h4>
        <div>
        
        </div>

    </div>

{% endblock %}