{% extends "base.html.twig" %}

{% block title %}
    Boots Art | A Propos
{% endblock %}

{% block body %}


<div class="container my-5" id="abouttextstyle">
   <div class="row">
     <div class="col-md-6 p-4 p-sm-5 order-2 order-sm-1">
       <small class="text-uppercase" style="color: #9B5DE5;"></small>
       <h1 class="h2 mb-4" style="font-weight: 600;"><span style="color: rgb(238, 231, 221);">Notre <span style="color: rgb(253, 203, 128);"> Mission</span></h1>
       <p class="text-secondary" style="line-height: 2;"><span style="color: rgb(238, 231, 221);">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias aliquid assumenda beatae earum ullam maxime amet distinctio dolores soluta! In facilis, expedita consequuntur cumque dicta possimus nulla ut at consequatur?
</p>
       
     </div>
     <div class="col-md-6 p-0 text-center order-1 order-sm-2">
        <img src="https://picsum.photos/400/600" class="" alt="">
     </div>

    <div class="col-md-6 p-0 text-center">
       <img src="https://picsum.photos/400/600" class="" alt="">
    </div>
    <div class="col-md-6 p-4 p-sm-5">
      <small class="text-uppercase" style="color: #9B5DE5;"></small>
      <h1 class="h2 mb-4" style="font-weight: 600;"><span style="color: rgb(238, 231, 221);">À<span style="color: rgb(253, 203, 128);"> Propos</span></h1>
      <p class="text-secondary" style="line-height: 2;"><span style="color: rgb(238, 231, 221);">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo dolorum cum, iusto quibusdam laboriosam maxime voluptates, explicabo non error suscipit provident similique vitae! Labore voluptatum enim sunt iusto sapiente dolorum?.</p>
      
    </div>
   </div>
 </div>


{% endblock %}