{% extends "base.html.twig" %}

{% block title %}
    Artiste Boots Art
{% endblock %}

{% block body %}

<div class="row py-5 px-4 ">
    <div class="col-md-10 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-5 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3 "><img src="https://picsum.photos/seed/picsum/300/300" alt="..." width="220" class="rounded mb-1 img-thumbnail"><a href="#"></a></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">Nom-Prenom</h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i> Pays-Ville</p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">18</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Photos</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small>
                    </li>
                </ul>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">À Propos</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0">Métier</p>
                    <p class="font-italic mb-0">Blabla</p>
                    <p class="font-italic mb-0">Passion</p>
                </div>
            </div>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Travail Récent</h5><a href="#"></a>
               </div>
              
                    <section class='paysage'>
                         <div>
                         <a href="https://picsum.photos/seed/picsum/300/300" data-lightbox="gallerie_paysage" data-title="picsum"><img src="https://picsum.photos/seed/picsum/300/300" alt="" class="img-lightbox-paysage"></a>
                         <a href="https://picsum.photos/seed/picsum/300/300" data-lightbox="gallerie_paysage" data-title="picsum"><img src="https://picsum.photos/seed/picsum/300/300" alt="" class="img-lightbox-paysage"></a>
                         <a href="https://picsum.photos/seed/picsum/300/300" data-lightbox="gallerie_paysage" data-title="picsum"><img src="https://picsum.photos/seed/picsum/300/300" alt="" class="img-lightbox-paysage"></a>
                         <a href="https://picsum.photos/seed/picsum/300/300" data-lightbox="gallerie_paysage" data-title="picsum"><img src="https://picsum.photos/seed/picsum/300/300" alt="" class="img-lightbox-paysage"></a>
                         <a href="https://picsum.photos/seed/picsum/300/300" data-lightbox="gallerie_paysage" data-title="picsum"><img src="https://picsum.photos/seed/picsum/300/300" alt="" class="img-lightbox-paysage"></a>
                         
                         </div>
                    </section>  
               
            
        </div>
    </div>
</div>

    <h1 class='titre'>Nos Artistes</h1>

<div class="container ">
  <section class="mx-auto my-5 row justify-content-evenly col-12 " style="">
      
    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>
    
  </section>
</div>

        
{% endblock %}