{% extends "base.html.twig" %}

{% block title %}
     Boots Art | FAQ
{% endblock %}

{% block body %}

<section class="faq col-11 mx-auto">
  <h1 class=" title text-center mb-4 pb-2 mt-5  fw-bold"><strong>FAQ</strong></h1>
     <p class=" text-center mb-5">
          <strong>Vous trouverez toutes les réponse à vos question ici ! et au cas ou vous ne trouveriez pas de réponse à une question en 
          particulier, vous pouvez nous contacter à cet adresse mail : boostart@gmail.fr</strong> 
     </p>

     <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 ">
               <h4 class=" title mb-3 "><i class="far fa-paper-plane text-dark pe-2"></i> <strong><u>Dans quels pays livrez-vous ?</u></strong></h4>
               <p>
                    <strong>Nous expédions vers</strong> 
                    l'Australie, l'Autriche, la Belgique, le Canada, le Chili, la République tchèque, le Danemark, les îles Féroé, la Finlande, la France, l'Allemagne, la Grèce, Guernesey, Hong Kong, l'Islande, l'Irlande, Israël, l'Italie, le Japon, Jersey, la Lituanie, le Luxembourg, Monaco, les Pays-Bas, la Nouvelle-Zélande, la Norvège, les Philippines, Pologne, Portugal, Réunion, Saint-Martin, Saint-Pierre-et-Miquelon, Singapour, Slovaquie, Afrique du Sud, Corée du Sud, Espagne, Suède, Suisse, Thaïlande, Émirats arabes unis, Royaume-Uni, États-Unis, Venezuela.
               </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
               <h4 class=" title mb-3 "><i class="fas fa-pen-alt text-dark pe-2"></i>
               <strong><u>Le système de fixation est-il inclus dans le prix ?</u></strong> 
               </h4>
                    <p>
                    <strong>Avec votre commande,</strong> 
                    vous recevrez non seulement un aimant ou des aimants (selon la taille du Print) mais aussi une lingette pour nettoyer un mur et une feuille de protection pour le coller sur votre mur. Tout est gratuit afin de vous aider à monter votre nouvelle et brillante Print de la manière la plus simple possible ! 😉
                    </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
               <h4 class=" title mb-3"><i class="fas fa-user text-dark pe-2"></i> 
               <strong><u>Mes informations personnelles sont-elles en sécurité ?</u></strong> 
               </h4>
                    <p>
                    <strong>Boots Art</strong>  respecte votre vie privée. Par conséquent, nous ne distribuerons jamais les informations personnelles que vous nous soumettez sur notre site web. Pour en savoir plus consulté notre Legal Notice.
                    </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
               <h4 class=" title mb-3"><i class="fas fa-book-open text-dark pe-2"></i> 
               <strong><u>Comment puis-je vendre des œuvres d'art si je possède un compte client ?</u></strong>
               </h4>
                    <p>
                    <strong>Veuillez vous rendre dans la section "Mon profil",</strong> puis cliquez sur "Ouvrir la boutique Boots Art et gagner de l'argent avec vos créations". De là, vous pouvez nous envoyer votre portfolio. Notez que nous ne vérifions que les messages contenant un lien vers un portfolio en ligne. En outre, nous ne contacterons que les artistes dont les œuvres sont en accord avec la vision de Boots Art. Tous ceux qui n'obtiendront aucune réponse dans les cinq prochains jours ouvrables seront considérés comme non acceptés par Boots Art, ce dont nous sommes désolés.
                    </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
               <h4 class=" title mb-3"><i class="fas fa-pen-alt text-dark pe-2"></i> 
                    <strong><u>Est-ce qu'un cadre change la taille d'un Print ?</u></strong>
               </h4>
                    <p><strong>Nos cadres</strong> 
                    ne modifient pas la taille du Print en elle-même, mais ils rendent les motifs un peu plus petits puisque nos cadres sont imprimés directement sur les œuvres d'art.Quant à la taille du cadre, elle est de 3 cm de large pour un Print en M et de 3,8 cm pour un Print L
                    </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
               <h4 class=" title mb-3"><i class="fas fa-book-open text-dark pe-2"></i> 
               <strong><u>Une Displate peut-elle endommager mon mur en la retirant ?</u></strong></h4>
                    <p>
                    <strong>L'un des éléments</strong> du kit de montage, à savoir la feuille de protection, est destiné à réduire le risque d'endommager le mur si vous décidez de retirer le Print. Néanmoins, le résultat final dépend aussi de la surface elle-même.
                    </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
               <h4 class=" title mb-3"><i class="fas fa-pen-alt text-dark pe-2"></i> 
               <strong><u>Comment puis-je payer une commande ?</u></strong></h4>
                    <p>
                    <strong>Vous pouvez payer avec votre carte de crédit</strong> (AX, VI, CA ou Discover) ou via PayPal, Google Pay ou Apple Pay. Les paiements sont effectués en USD, EUR, GBP, DKK, SEK, CHF. Si votre devise locale est différente de celles mentionnées ci-dessus, veuillez vérifier la devise avec laquelle vous serez facturé en ajoutant un Print au panier. N'oubliez pas que votre banque convertira le montant dans votre monnaie locale à son taux de change.
                    </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
               <h4 class=" title mb-3"><i class="fas fa-pen-alt text-dark pe-2"></i> 
               <strong><u>Recevrais-je mon e-mail de confirmation ?</u></strong></h4>
                    <p>
                    <strong>Dès que vous passez une commande,</strong> nous envoyons l'e-mail de confirmation à l'adresse e-mail utilisée pour la passer. Si vous ne trouvez pas votre confirmation de commande, vérifiez votre dossier spam pour vous assurer qu'il ne s'y est pas perdu.
                    </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
               <h4 class=" title mb-3"><i class="fas fa-pen-alt text-dark pe-2"></i> 
               <strong><u>Puis-je modifier ou ajouter un autre article à ma commande ?</u></strong></h4>
                    <p>
                     <strong>Une fois que la commande a été payée,</strong> il n'est malheureusement pas possible de la modifier. La seule solution est d'annuler la commande et d'en passer une nouvelle. N'oubliez pas que, conformément à notre politique d'annulation, une commande ne peut être annulée que dans les 24 heures suivant sa passation.
                    </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
               <h4 class=" title mb-3"><i class="fas fa-pen-alt text-dark pe-2"></i> 
               <strong><u>Le paiement sur votre site est-il sécurisé ?</u></strong></h4>
                    <p>
                    <strong>Nous confirmons que le paiement sur notre site web est sécurisé et crypté.</strong> Vous pouvez en savoir plus sur notre certificat SSL en cliquant sur l'icône LOCK à gauche de notre URL BootsArt.com.
                    </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
               <h4 class=" title mb-3"><i class="fas fa-pen-alt text-dark pe-2"></i> 
               <strong><u>Quelle est votre politique de retour ?</u></strong></h4>
                    <p>
                    <strong>Vous pouvez retourner un Print</strong> dans les 100 jours civils suivant la livraison et vous serez remboursé à 100 %. Le produit peut être retourné s'il est dans son état d'origine et si le système de montage n'a pas été utilisé. Le Print doit être envoyé aux frais du client. En cas de retour partiel, les frais d'expédition initiaux ne sont pas remboursés. De même, les tirages personnalisés et les Prints obtenus avec un bon Promo ne sont pas remboursables.

                    L'adresse de retour est la suivante :

                    Boots Art
                    15 rue delta, 
                    Paris, 75018
                    France

                    </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-5">
               <h4 class=" title mb-3"><i class="fas fa-book-open text-dark pe-2"></i> 
               <strong><u>Pourquoi je ne trouve pas mon œuvre publiée lors d'une recherche ?</u></strong></h4>
                    <p>
                    <strong>Il peut s'écouler jusqu'à 24 heures</strong> avant que les œuvres ne deviennent consultables sur notre site web après avoir été validées.
                         Si cela fait plus de 24 heures et que vous ne trouvez pas vos œuvres en recherchant les balises incluses, veuillez nous contacter ici à partir de l'e-mail associé à votre compte afin que nous puissions vous aider.
                    </p>
          </div>


          



     </div>
</section>

{% endblock %}