{% extends "base.html.twig" %}

{% block title %}
    Home Boots Arts
{% endblock %}

{% block body %}
    
    <div>
      <img src="{{ asset("img/baniere200px.jpg") }}" style="width: 100%; height: 125px" class="stickyb" alt="">
    </div>

    <div id="CarouselHome" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ asset("img/testc1.jpg") }}" class="d-block w-100" alt="...">
             <div class="carousel-caption d-none d-md-block">
                <h5>Nom du produit</h5>
                  <a class="btn btn-dark">Voir le produit</a>
                </div>
              </div>

              <div class="carousel-item">
                <img src="{{ asset("img/testc2.jpg") }}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Nom du produit</h5>
                      <a class="btn btn-dark">Voir le produit</a>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <img src="{{ asset("img/testc3.jpg") }}" class="d-block w-100" alt="...">
                     <div class="carousel-caption d-none d-md-block">
                      <h5>Nom du produit</h5>
                        <a class="btn btn-dark">Voir le produit</a>
                      </div>
                    </div>
                  </div>

                  <button class="carousel-control-prev" type="button" data-bs-target="#CarouselHome" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>

                  <button class="carousel-control-next" type="button" data-bs-target="#CarouselHome" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
              </div>

              <h2 class="text-center me-5 my-3 titrehome">Nouveautés</h2>

              <div id="carousel1" class="carousel slide">
  
                <div class="carousel-inner text-center">

                  <div class="carousel-item active">
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded" >
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-lg-inline" >
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-xxl-inline" >
                  </div>

                  <div class="carousel-item text-center">
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded" >
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-lg-inline" >
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-xxl-inline" >
                  </div>

                  <div class="carousel-item text-center">
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded" >
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-lg-inline" >
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-xxl-inline" >
                  </div>

                </div>
                
                    <button class="carousel-control-prev text-primary" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                      <span class="fs-1 text-dark" aria-hidden="true"><i class="bi bi-arrow-left-square"></i></span>
                      <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next ms-3" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                      <span class="fs-1 text-dark" aria-hidden="true"><i class="bi bi-arrow-right-square"></i></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>


              <h2 class="text-center my-3 titrehome">Bestcellers</h2>

              <div id="carousel2" class="carousel slide">
              
                <div class="carousel-inner text-center ">
                  <div class="carousel-item active">
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded" >
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-lg-inline" >
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-xxl-inline" >
                  </div>

                  <div class="carousel-item text-center">
                    <img src="https://picsum.photos/300/300" class="mx-2 shadow p-3 mb-5 bg-body rounded" >
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-lg-inline" >
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-xxl-inline" >
                  </div>

                  <div class="carousel-item text-center">
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded" >
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-lg-inline" >
                    <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-xxl-inline" >
                  </div>

              </div>

                  <button class="carousel-control-prev text-primary" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                    <span class="fs-1 text-dark" aria-hidden="true"><i class="bi bi-arrow-left-square"></i></span>
                    <span class="visually-hidden">Previous</span>
                  </button>

                  <button class="carousel-control-next ms-3" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                    <span class="fs-1 text-dark" aria-hidden="true"><i class="bi bi-arrow-right-square"></i></span>
                    <span class="visually-hidden">Next</span>
                  </button>
              </div>

              <h2 class="text-center my-3 titrehome">Des trucs</h2>

          <div id="carousel3" class="carousel slide">
  
            <div class="carousel-inner text-center ">
              <div class="carousel-item active">
                <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded" >
                <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-lg-inline" >
                <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-xxl-inline" >
              </div>
              <div class="carousel-item text-center">
                <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded" >
                <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-lg-inline" >
                <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-xxl-inline" >
              </div>
              <div class="carousel-item text-center">
                <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded" >
                <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-lg-inline" >
                <img src="https://picsum.photos/300/300" class="mx-5 shadow p-3 mb-5 bg-body rounded d-none d-xxl-inline" >
              </div>
            </div>

              <button class="carousel-control-prev text-primary" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                <span class="fs-1 text-dark" aria-hidden="true"><i class="bi bi-arrow-left-square"></i></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                <span class="fs-1 text-dark" aria-hidden="true"><i class="bi bi-arrow-right-square"></i></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <h2 class="text-center my-3 titrehome">Toutes nos catégories</h2>

    
            <div class="text-center">
            
              <img src="https://picsum.photos/100/100" class="mx-2 shadow p-3 mb-5 bg-body rounded" >
              <img src="https://picsum.photos/100/100" class="mx-2 shadow p-3 mb-5 bg-body rounded" >
              <img src="https://picsum.photos/100/100" class="mx-2 shadow p-3 mb-5 bg-body rounded" >
              <img src="https://picsum.photos/100/100" class="mx-2 shadow p-3 mb-5 bg-body rounded" >
              <img src="https://picsum.photos/100/100" class="mx-2 shadow p-3 mb-5 bg-body rounded" >
              <img src="https://picsum.photos/100/100" class="mx-2 shadow p-3 mb-5 bg-body rounded" >
              
            </div>



{% endblock %}