/* CSS BODY */


.couleurfontP, .colorfontIcon
{
    color: rgb(253, 203, 128)  !important;
}

.searchformNav{
    display: contents;

}

.searchformnavwidth{
    width: 10%;
    padding-right: 30px;
}

.searchFormBg{
    background-color: #1f1e1e;
    color: rgb(253, 203, 128);
    border-color: rgb(253, 203, 128);
}



.paddingNav
{
    padding-right: 110px;
}
.text-violet{
    color: rgb(182, 55, 194) !important;
}

.text-noir{
    color: rgb(0, 0, 0) !important;
}

.ftco-section{
    background-color: #1f1e1e;
}

.footer_bar{
    background-color: #1f1e1e;
}

.font_titre{
    font-family: 'Stardos Stencil', cursive;
    font-size: 100px;
    color: rgb(253, 203, 128)
}

/* CSS FOOTER */

footer h5{
    font-family: 'Stardos Stencil', cursive;
    margin-top: 25px;
}

.fontfooter{
    background-color: #b85c38;
    
}

.colorfontReseaux{
    background-color: #1f1e1e;

    border-color: #1f1e1e;;
}



/* CSS artist */

.titre
{
    font-size: 3.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #1f1e1e;
    text-align: center;
    margin: 2rem 0;
}

.logo {
    text-align: center;
  margin: 2rem 0 0 -2.25rem;
  font-size: 3rem;
    font-family: 'Arvo', serif;
  font-weight: normal;
    color: #555;
  letter-spacing:-1px;
}

body {
	background-color: #f5f7fa;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.darkbrown-gradient {
  background: linear-gradient(40deg, #1f1e1e, #3f3a36) !important;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid rgb(235, 235, 235);
  border-radius: 50%;
}