.bgProduct{
    background-image: url(https://www.murs-3d.fr/3168-thickbox_default/planche-de-bois-vieilli.jpg);
    background-size: contain;
    height: 600px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgProduct{
    padding: 0 !important;
    height: 250px !important;
    width: 200px !important;
}

.bloc_left_price {
    color: #1f1e1e;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.selectFormat{
    width: 25%;
}

.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #1f1e1e;
}
.add_to_cart_block .price {
    color: #1f1e1e;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}

