{% extends "base.html.twig" %}

{% block title %}
    Artiste Boots Art
{% endblock %}

{% block body %}




    <h1 class='titre'>Nos Artistes</h1>

<div class="container ">
  <section class="mx-auto my-5 row justify-content-evenly col-12 " style="">
      
    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>

    <div class="card testimonial-card mt-2 mb-3 col-2 mx-2">
      <div class="card-up darkbrown-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle img-fluid"
          alt="avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Nom-prenom</h4>
        <hr>
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </div>
    </div>
    
  </section>
</div>

        

{% endblock %}