<!doctype html>
<html lang="en">
<head>
<title>Projet Displate</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/A.style.css.pagespeed.cf.SrefZvnj6s.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap" rel="stylesheet">

<link rel="stylesheet" href=" {{asset('css/base.css')}} ">

<script>(function(w,d){!function(e,t,r,a,s){e[r]=e[r]||{},e[r].executed=[],e.zaraz={deferred:[]};var n=t.getElementsByTagName("title")[0];e[r].c=t.cookie,n&&(e[r].t=t.getElementsByTagName("title")[0].text),e[r].w=e.screen.width,e[r].h=e.screen.height,e[r].j=e.innerHeight,e[r].e=e.innerWidth,e[r].l=e.location.href,e[r].r=t.referrer,e[r].k=e.screen.colorDepth,e[r].n=t.characterSet,e[r].o=(new Date).getTimezoneOffset(),//
e[s]=e[s]||[],e.zaraz._preTrack=[],e.zaraz.track=(t,r)=>e.zaraz._preTrack.push([t,r]),e[s].push({"zaraz.start":(new Date).getTime()});var i=t.getElementsByTagName(a)[0],o=t.createElement(a);o.defer=!0,o.src="/cdn-cgi/zaraz/s.js?"+new URLSearchParams(e[r]).toString(),i.parentNode.insertBefore(o,i)}(w,d,"zarazData","script","dataLayer");})(window,document);</script></head>

     <style>
        {# body 
        {
        background: url( {{ asset('') }} ) no-repeat;
        background-size: cover;
        } #}


    </style> 
 
<body>
    <section class="ftco-section">

    <div class="container-fluid px-md-5">
        <div class="row justify-content-between">
            <div class="col-md-8 order-md-last my-auto">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <a class="navbar-brand text-white" href="index.html"><h1 class="my-auto font_titre ">Boots Art</h1></a>
                    </div>
                    <div class="col-md-6 d-md-flex justify-content-end mb-md-0 mt-5">
                    <div class="">
                        <a class="text-decoration-none couleurfontP ">Inscription</a>
                        <a class="text-decoration-none couleurfontP ms-3">Connexion</a>
                    </div>
            </div>
                </div>
        </div>


        <div class="col-md-4 d-flex ">
            <div class="logo">
                <img src="img/logo.png" style="heigth:100px; width:100px;" class="bg-dark" alt="">
            </div>
                </div>
                    </div>
                        </div>
            <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar  ftco-navbar-light" id="ftco-navbar">
                <div class="container-fluid allfontcolor">

                <form action="#" class="searchform order-lg-last searchformNav">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control pl-3 " placeholder="Search">
                            <button type="submit" placeholder="" class="form-control search searchformnavwidth"><span class="fa fa-search"></span></button>
                        </div>
                        </form>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span> Menu
                    </button>   



                    
                    

                        <div class="collapse navbar-collapse allfontcolor paddingNav" id="ftco-nav">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item active me-5"><a href="#" class="nav-link couleurfontP">Accueil</a></li>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse " id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle me-5 couleurfontP" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Produits
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark couleurfontP"  aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Nouveauté</a></li>
                                        <li><a class="dropdown-item" href="#">Tout nos prints</a></li>
                                        <li><a class="dropdown-item" href="#">Concept Art</a></li>
                                        <li><a class="dropdown-item" href="#">Illustration</a></li>
                                        <li><a class="dropdown-item" href="#">Cyber</a></li>
                                        <li><a class="dropdown-item" href="#">Fantasy</a></li>
                                        <li><a class="dropdown-item" href="#">Abstrait</a></li>
                                        
                                    </ul>
                                    </li>
                                </ul>
                                </div>

                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle me-5 couleurfontP" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Produits par couleurs
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item text-warning" href="#">Jaune</a></li>
                                        <li><a class="dropdown-item text-danger" href="#">Rouge</a></li>
                                        <li><a class="dropdown-item text-info" href="#">Bleu</a></li>
                                        <li><a class="dropdown-item text-success" href="#">Vert</a></li>
                                        <li><a class="dropdown-item text-violet" href="#">Violet</a></li>
                                        <li><a class="dropdown-item text-noir" href="#">Noir</a></li>
                                        <li><a class="dropdown-item text-light" href="#">Blanc</a></li>
                                        
                                    </ul>
                                    </li>
                                </ul>
                                </div>
                                

                                <li class="nav-item me-5"><a href="#" class="nav-link couleurfontP">Artiste</a></li>
                                <li class="nav-item me-5"><a href="#" class="nav-link couleurfontP">Nouveauté</a></li>
                                
                            </ul>



                        
                    </div>
                    <div>
                            <span class="me-5 colorfontIcon">
                            <a class="me-3 text-white colorfontIcon" href="" ><i class="bi bi-bag fs-4"></i></a>
                            <a class="me-2 text-white colorfontIcon" href=""><i class="bi bi-person-circle fs-4"></i></a>
                            </span>
                        </div>  
                </div>
            </nav>

    </section>
<main>
{% block body %}

{% endblock %}

</main>




<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="my-5">

  <!-- Footer -->
<footer class="footer_bar text-center text-white">
  <!-- Grid container -->
  <div class="">
    <!-- Section: Social media -->
    <section class="mb-3 fontfooter p-2">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1 colorfontReseaux" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1 colorfontReseaux" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1 colorfontReseaux" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1 colorfontReseaux" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1 colorfontReseaux" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1 colorfontReseaux" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Signé pour recevoir la newsletter !</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Adresse Mail</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Inscription
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <h5 class="text-uppercase allfontcolor couleurfontP">A propos</h5>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <h5 class="text-uppercase allfontcolor couleurfontP">Contact</h5>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <h5 class="text-uppercase allfontcolor couleurfontP">FAQ</h5>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <h5 class="text-uppercase allfontcolor couleurfontP">legal notice</h5>

        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 colorfontIcon" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="colorfontIcon" href="https://mdbootstrap.com/">Boots Art</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
  
</div>
<!-- End of .container -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="js/jquery.min.js"></script>
<script src="js/popper.js+bootstrap.min.js+main.js.pagespeed.jc.DGGnqwWURm.js"></script><script>eval(mod_pagespeed_UHYBn7eTCD);</script>
<script>eval(mod_pagespeed_pjbkxWKFfo);</script>
<script>eval(mod_pagespeed_6H5NR84qUD);</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v64f9daad31f64f81be21cbef6184a5e31634941392597" integrity="sha512-gV/bogrUTVP2N3IzTDKzgP0Js1gg4fbwtYB6ftgLbKQu/V8yH2+lrKCfKHelh4SO3DPzKj4/glTO+tNJGDnb0A==" data-cf-beacon='{"rayId":"6bde55290d24a855","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.12.0","si":100}' crossorigin="anonymous"></script>

</body>





</html>