{% extends "base.html.twig" %}

{% block title %}
     FAQ Boots Art
{% endblock %}

{% block body %}

<section class="section-faq">
		<div class="container">

            






			<div class="row justify-content-center text-center">
				<div class="col-md-8">
					<div class="header-section">
						<h2 class="title">Questions Fréquentes</h2>
						<p class="description">Vous trouverez toutes les réponse à vos question ici ! et au cas ou vous ne trouveriez pas de réponse à une question en 
                        particulier, vous pouvez nous contacter via le formulaire de la page FAQ ! </p>
					</div>
				</div>
			</div>


			<div class="row ">
				<div class="col-lg-6">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item my-2">
                                <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Dans quels pays livrez-vous ?
                                </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="answer">Nous expédions vers l'Australie, l'Autriche, la Belgique, le Canada, le Chili, la République tchèque, le Danemark, les îles Féroé, la Finlande, la France, l'Allemagne, la Grèce, le Groenland, Guernesey, Hong Kong, l'Islande, l'Irlande, Israël, l'Italie, le Japon, Jersey, la Lituanie, le Luxembourg, Monaco, les Pays-Bas, la Nouvelle-Zélande, la Norvège, les Philippines, Pologne, Portugal, Réunion, Saint-Barthélemy, Saint-Martin (partie française), Saint-Pierre-et-Miquelon, Singapour, Saint-Martin (partie néerlandaise), Slovaquie, Afrique du Sud, Corée du Sud, Espagne, Suède, Suisse, Thaïlande, Émirats arabes unis, Royaume-Uni, États-Unis, Venezuela.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item my-2">
                                <h2 class="accordion-header" id="headingtwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                                    Le système de fixation est-il inclus dans le prix ?
                                </button>
                                </h2>
                                <div id="collapsetwo" class="accordion-collapse collapse" aria-labelledby="headingtwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="answer">Avec votre commande, vous recevrez non seulement un aimant ou des aimants (selon la taille du Print) mais aussi une lingette pour nettoyer un mur et une feuille de protection pour le coller sur votre mur. Tout est gratuit afin de vous aider à monter votre nouvelle et brillante Print de la manière la plus simple possible ! 😉</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item my-2">
                                <h2 class="accordion-header" id="headingthree">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
                                    Mes informations personnelles sont-elles en sécurité ?
                                </button>
                                </h2>
                                <div id="collapsethree" class="accordion-collapse collapse" aria-labelledby="headingthree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="answer">Boots Art respecte votre vie privée. Par conséquent, nous ne distribuerons jamais les informations personnelles que vous nous soumettez sur notre site web. Pour en savoir plus sur la Legal Notice</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item my-2">
                                <h2 class="accordion-header" id="headingfour">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                                    Comment puis-je vendre des œuvres d'art si je possède un compte client ?
                                </button>
                                </h2>
                                <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="answer">Veuillez vous rendre dans la section "Mon profil", puis cliquez sur "Ouvrir la boutique Boots Art et gagner de l'argent avec vos créations". De là, vous pouvez nous envoyer votre portfolio. Notez que nous ne vérifions que les messages contenant un lien vers un portfolio en ligne. En outre, nous ne contacterons que les artistes dont les œuvres sont en accord avec la vision de Boots Art. Tous ceux qui n'obtiendront aucune réponse dans les cinq prochains jours ouvrables seront considérés comme non acceptés par Boots Art, ce dont nous sommes désolés.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item my-2">
                                <h2 class="accordion-header" id="headingfive">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="true" aria-controls="collapsefive">
                                    Est-ce qu'un cadre change la taille d'un Print ?
                                </button>
                                </h2>
                                <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="answer">Nos cadres ne modifient pas la taille du Print en elle-même, mais ils rendent les motifs un peu plus petits puisque nos cadres sont imprimés directement sur les œuvres d'art.Quant à la taille du cadre, elle est de 3 cm de large pour un Print en M et de 3,8 cm pour un Print L.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item my-2">
                                <h2 class="accordion-header" id="headingsix">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="true" aria-controls="collapsesix">
                                    Une Displate peut-elle endommager mon mur en la retirant ?
                                </button>
                                </h2>
                                <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="answer">L'un des éléments du kit de montage, à savoir la feuille de protection, est destiné à réduire le risque d'endommager le mur si vous décidez de retirer le Print. Néanmoins, le résultat final dépend aussi de la surface elle-même.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item my-2">
                                <h2 class="accordion-header" id="headingseven">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="true" aria-controls="collapseseven">
                                    Comment puis-je payer une commande ?
                                </button>
                                </h2>
                                <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headingseven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="answer">Vous pouvez payer avec votre carte de crédit (AX, VI, CA ou Discover) ou via PayPal, Google Pay ou Apple Pay. Les paiements sont effectués en USD, EUR, GBP, DKK, SEK, CHF. Si votre devise locale est différente de celles mentionnées ci-dessus, veuillez vérifier la devise avec laquelle vous serez facturé en ajoutant un Print au panier. N'oubliez pas que votre banque convertira le montant dans votre monnaie locale à son taux de change.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item my-2">
                                <h2 class="accordion-header" id="headingheight">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseheight" aria-expanded="true" aria-controls="collapseheight">
                                    Recevrai-je mon e-mail de confirmation ?
                                </button>
                                </h2>
                                <div id="collapseheight" class="accordion-collapse collapse" aria-labelledby="headingheight" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="answer">Dès que vous passez une commande, nous envoyons l'e-mail de confirmation à l'adresse e-mail utilisée pour la passer. Si vous ne trouvez pas votre confirmation de commande, vérifiez votre dossier spam pour vous assurer qu'il ne s'y est pas perdu.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item my-2">
                                <h2 class="accordion-header" id="headingnine">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="true" aria-controls="collapsenine">
                                    Puis-je modifier ou ajouter un autre article à ma commande ?
                                </button>
                                </h2>
                                <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="answer">Une fois que la commande a été payée, il n'est malheureusement pas possible de la modifier. La seule solution est d'annuler la commande et d'en passer une nouvelle. N'oubliez pas que, conformément à notre politique d'annulation, une commande ne peut être annulée que dans les 24 heures suivant sa passation.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item my-2">
                                <h2 class="accordion-header" id="headingten">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseten" aria-expanded="true" aria-controls="collapseten">
                                    Le paiement sur votre site est-il sécurisé ?
                                </button>
                                </h2>
                                <div id="collapseten" class="accordion-collapse collapse" aria-labelledby="headingten" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="answer">Nous confirmons que le paiement sur notre site web est sécurisé et crypté. Vous pouvez en savoir plus sur notre certificat SSL en cliquant sur l'icône LOCK à gauche de notre URL BootsArt.com.</p>
                                    </div>
                                </div>
                            </div>




                        </div>
                
				<div class="col-lg-6">
					<div class="question-form">
						<h3 class="title">Poser Votre Question ?</h3>
						<form>
							<input type="text" placeholder="Nom-Prénom">
							<input type="text" placeholder="Email">
							<textarea placeholder="écrivez votre question"></textarea>
							<button type="submit" class="send-request">Envoyé Votre Question !</button>
						</form>
					</div>
				</div>


			</div>
		</div>
	</section>

{% endblock %}