{% extends 'base_backoffice.html.twig' %}

{% block title %}BackOffice{% endblock %}

{% block body %}
    <h2 class="text-center my-3">Bienvenue dans le BACKOFFICE</h2>
    <h4 class="text-center">Ici vous pourrez gérer votre site et retrouver certaines statistiques</h4>
{% endblock %}
